package index

import "github.com/jackjohn7/smllnk/public/views/layout"

templ IndexTemplate(baseProps layout.BaseProps) {
  @layout.Base(baseProps) {
    <div>
      <h1 class="text-primary-green text-sm">Hello, authenticated user!</h1>
    </div>
  }
}
