package index

import "github.com/jackjohn7/smllnk/public/views/layout"

templ IndexTemplate() {
  @layout.Base("SmlLnk", "SmlLnk - Simplest and most free link shortener") {
    <div>
      <h1 class="text-blue-400 text-sm">Hello, authenticated user!</h1>
    </div>
  }
}
