package login

templ CheckInbox(email string) {
  <h1 class="text-white text-center text-xl">Success!</h1>
  <p class="text-white">
    Check your inbox at { email } to authenticate your session.
  </p>
}
