package layout

templ Base(title string, description string) {
  <html>
    <head>
      <title>{title}</title>
      <meta name="description" content={description} />
      <link href="/public/styles/tw.css" rel="stylesheet" />
    </head>
    <body>
      { children... }
    </body>
  </html>
}
